.sidebar {
  width: 0;
  background-color: #f0f8ff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease-in-out; 
  /* height: fit-content; */
}

.sidebar-content{
  background-color: #2E53DA;
}

.sidebar.open {
  width: 250px;
  transform: translateX(0); 
}

.sidebar.closed {
  width: 0;
  transform: translateX(-100%); 
}

.content_wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar_item {
  padding: 1rem;
  margin: 0.5rem 0.5rem;
  border: none;
  background-color: transparent;
  border-radius: 15px;
  color: white;
}

.sidebar_item.active
 {
  font-size: 15px;
  background-color: #ffffff;
  color: rgb(9, 86, 218);
  font-weight: bold;
  cursor: pointer;

}
.sidebar_item.active:hover{
  background-color: #fefefe;
  color: rgb(9, 86, 218)
}
.sidebar_item:hover
 {
  font-size: 15px;
  background-color: #5297f7;
  color: rgb(253, 253, 253);
  font-weight: bold;
  cursor: pointer;
}
.sidebar-icons{
  width: 100%;
}